@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --max-width: 1200px;
  --border-radius: 6px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  background-color: var(--light-grayish-blue);
  overflow-x: hidden;
  max-width: 1440px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
  font-weight: 300;
}
h2 {
  font-size: 2.3rem;
}

h5 {
  color: var(--grayish-blue);
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--grayish-blue);
}

li {
  list-style-type: none;
}

header {
  background-color: var(--very-light-gray);
}

nav {
  background-color: var(--white);
  z-index: 2;
  position: relative;
}

.nav-container {
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

nav ul.main-nav li {
  color: var(--grayish-blue);
  margin-right: 2em;
}

.hero {
  display: grid;
  grid-template-columns: 600px auto;
  overflow-y: visible;
}

.hero-text {
  margin: 100px auto;

  padding-left: 7.5rem;
}
.hero-text > h1 {
  font-weight: 300;
  font-size: 3.4rem;
  color: var(--dark-blue);
}

.hero-text p {
  font-weight: 300;
  color: var(--grayish-blue);

  margin-bottom: 2rem;
}

button.cta {
  padding: 1em 2em;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: #fff;
  font-weight: 700;
}

.hero-images {
  background-image: url('./images/bg-intro-desktop.svg');

  background-repeat: no-repeat;
  background-position: top -260px left 30px;
  height: auto;
}

.hero-images img {
  position: absolute;
  right: -130px;
  top: -40px;
  z-index: 0;
  width: 50%;
}

/* value prop grid section */
#value-prop {
  margin-top: 220px;
}
.value-prop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.value-prop-grid h3 {
  font-size: 1.4rem;
}

.card p {
  padding-bottom: 50px;
}

/* latest articles */
#latest-articles {
  background-color: var(--very-light-gray);
  padding-top: 50px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.article {
  max-width: 240px;
  background-color: #fff;
  border-radius: var(--border-radius);
  margin-bottom: 80px;
}

.article img {
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.article .article-text {
  padding: 1.4rem 1.4rem 0.2rem;
}

.article .article-text .author {
  font-size: 10px;
  font-weight: 300;
  color: var(--grayish-blue);
}

.article .article-text h6 {
  font-size: 16px;
  color: var(--dark-blue);
  margin: 0.8rem 0;
}
.article p {
  font-size: 13px;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  padding: 2rem 0;
  color: var(--very-light-gray);
}
footer .container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.footer-left {
  padding-right: 6rem;
}

.footer-left img {
  padding-top: 1rem;
}

ul.footer-social {
  display: flex;
  justify-content: space-between;

  padding: 0 3rem 0rem 0;

  margin-top: 2rem;
}

ul.footer-nav {
  columns: 2;
}

ul.footer-nav li {
  margin-bottom: 1rem;
}
ul.footer-nav li a {
  color: var(--light-grayish-blue);
  font-weight: 300;
  font-size: 14px;
}

.footer-right {
  justify-self: end;
  color: var(--grayish-blue);
  align-self: baseline;
}
.footer-right .cta {
  margin-top: 0.5rem;
}

.footer-right p {
  margin-top: 2rem;
  font-size: 15px;
}

@media screen and (max-width: 960px) {
  .value-prop-grid,
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .article {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .value-prop-grid,
  .articles-grid {
    display: block;
    width: 100%;
    text-align: center;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
}
